.header {
    background-color: #170fba;
    color: aliceblue;
    display: flex;
    width: 70%;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
}
.contents {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 71.9%;
    margin: auto;
}
.first-column {
    border: 1px solid black;
    width: 25%;
    padding: 20px 20px;
}
.second-column {
    border: 1px solid black;
    width: 70%;
}
.third-column {
    border: 1px solid black;
    width: 50%;
}
.name {
    font-weight: bold;
    font-size: 14pt;
}
