.body {
    margin: 0;
}

.header {
    background-color: #170fba;
    color: aliceblue;
    display: flex;
    width: 70%;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
}
.contents {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 71.9%;
    margin: auto;
}
.first-column {
    border: 1px solid black;
    width: 35%;
    padding: 20px 20px 0 0;
}
.second-column {
    border: 1px solid black;
    width: 70%;
}
.third-column {
    border: 1px solid black;
    width: 35%;
}
.name {
    font-weight: bold;
    font-size: 14pt;
    margin-left: 20px;
}
.first-border {
    border: 1px solid #dad8d8;
}
.profile-text {
    padding: 0 20px 0;
    text-align: justify;
}
.items ul{
    list-style-type: none;
    padding: 0;
    line-height: 2.5;
    margin: 0;
}
.items li {
    border: 1px solid #dad8d8;
    padding-left: 20px;
}
.second-column img {
    width: 100%;
    height: 250px;
}
.first-article {
    margin-bottom: 1%;
}
.second-article {
    margin-bottom: 1%;
}
.first-article-text {
    text-align: justify;
    padding: 0 20px 0;
}
.news-section p {
    padding: 0 20px 0;
    border: 1px solid #dad8d8;
    margin: 0;
}
.first-border img {
    height: 300px;
}