.body {
    margin: 0;
}

.header {
    background-color: #170fba;
    color: aliceblue;
    display: flex;
    width: 70%;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
}
.contents {
    display: flex;
    flex-direction: row;
    width: 71.9%;
    margin: auto;
}
.first-column {
    width: 35%;
    padding: 20px 20px 0 0;
}
.second-column {
    width: 70%;
    padding-left: 10px;
    padding-top: 20px;
}
.third-column {
    width: 35%;
    padding: 20px 0 0 30px;
}
.name {
    font-weight: bold;
    font-size: 14pt;
    margin-left: 20px;
}
.first-border {
    border: 1px solid #dad8d8;
}
.profile-text {
    padding: 0 20px 0;
    text-align: justify;
}
.items ul{
    list-style-type: none;
    padding: 0;
    line-height: 2.5;
    margin: 0;
}
.items li {
    border: 1px solid #dad8d8;
    padding-left: 20px;
}
.second-column img {
    width: 100%;
    height: 250px;
}
.first-article {
    margin-bottom: 1%;
}
.second-article {
    margin-bottom: 1%;
}
.first-article-text {
    text-align: justify;
    padding: 0 20px 0;
}
.second-article-text {
    text-align: justify;
    padding: 0 20px 0;
}
.first-article-button {
    padding-left: 20px;
}
.second-article-button {
    padding-left: 20px;
}
.first-article-button button {
    height: 30px;
    background-color: #170fba;
    color: aliceblue;
    border: none;
    text-align: center;
}
.second-article-button button {
    height: 30px;
    background-color: #170fba;
    color: aliceblue;
    border: none;
    text-align: center;
}
.news-section {
    list-style-type: none;
    font-size: 10pt;
}
.first-border img {
    height: 300px;
}
.post-preview-text {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: red;
}
.profile-preview {
    text-decoration: none;
    color: black;
}
.edit {
    text-decoration: none;
    color: black;
}
.sign {
    text-decoration: none;
}
.color-of-link {
    color: grey;
}
.each-section {
    border: 1px solid #dad8d8;
}
.friends-list {
    display: flex;
    flex-wrap: wrap;
}
.profile-one {
    width: 25%;
}